<aside {{bind-attr class="barClass"}}>
	{{#if barTitle}}
		<span class="bar-title">
			{{barTitle}}
		</span>
	{{/if}}
	{{#if barTitleNumber}}
		<span class="bar-title-number">
			{{barTitleNumber}}
		</span>
	{{/if}}
	{{#if barTitleNumberSubHead}}
		<span class="bar-title-number-sub-head">
			{{barTitleNumberSubHead}}
		</span>
	{{/if}}
	<div class="bar">
		{{#each metric in metrics}}
			<div {{bind-attr class="metric.metricClass" style="metric.metricStyle"}}>
				<span class="number">{{metric.metricNumber}}</span>
				{{#if metric.metricText}}
				<span class="text">{{metric.metricText}}</span>
				{{/if}}
				{{#if metric.metricLabel}}
				<span class="metric-label">
					{{metric.metricLabel}}
				</span>
				{{/if}}
			</div>
		{{/each}}
		<div style="clear: both"></div>
	</div>
	{{#if barText}}
			{{#each text in barText}}
				<span class="bar-text">
					{{text}}
				</span>
			{{/each}}
			<div style="clear: both"></div>
	{{/if}}
</aside>