<section id="index" class="page">
	<h1>Welcome to RPRT</h1>
</section>
<header class="page-header">
	<div class="left">
		<p><span>Monthly Website Analytics</span> | smplsc.com</p>
	</div>
	<div class="right">
		<p>{{current_month}} {{current_month_year}}</p>
	</div>
</header>
<section id="title" class="page">
	<div class="wrap">
		<div class="titles">
			<h1>Monthly Website Analytics</h1>
			<h3>{{current_month}} {{current_month_year}}</h3>
		</div>
		<img src="/assets/images/title-page-logo.png" alt="smpl" width="418">
	</div>
</section>
<section id="page-01" class="page">
	<h2>Total Sessions</h2>
	<div class="wrap cf">
		<div class="col">
			<p class="big-number">
				221
			</p>
			<p class="text">
				sessions
			</p>
			{{bar-graph metrics=controller.total_sessions}}
		</div><!-- col -->
		<div class="col">
			<h3 class="previous-month">Previous Month Comparison</h3>
			<strong class="previous-month-sessions">231 Sessions in {{controller.report_last_month}}</strong>
			{{vertical-graph metrics=controller.total_sessions_comparison}}
		</div><!-- col -->
	</div>
</section>
<section id="page-02" class="page">
	<h2>Sessions by Device</h2>
	<div class="wrap cf">
		<div class="col">
			{{bar-graph metrics=controller.mobile_sessions barClass="bar-wrap mobile-sessions" barTitle="Mobile Sessions" barText=controller.mobile_sessions_bar_text}}
			{{bar-graph metrics=controller.desktop_sessions barClass="bar-wrap desktop-sessions" barTitle="Desktop Sessions" barText=controller.desktop_sessions_bar_text}}
		</div><!-- col -->
		<div class="col">
			<h3 class="previous-month">Previous Month Comparison</h3>
			{{vertical-graph metrics=controller.device_sessions_comparison}}
		</div><!-- col -->
	</div>
</section>
<section id="page-03" class="page">
	<h2>Social Network Activity</h2>
	<div class="wrap cf">
		<div class="col">
			{{bar-graph metrics=controller.twitter barClass="bar-wrap social-activity-twitter blue" barTitle="Twitter" barTitleNumber="99" barTitleNumberSubHead="Tweets"}}
		</div><!-- col -->
		<div class="col">
			{{bar-graph metrics=controller.facebook barClass="bar-wrap social-activity-facebook yellow" barTitle="Facebook" barTitleNumber="11" barTitleNumberSubHead="Posts"}}
		</div><!-- col -->
	</div><!-- wrap -->
	<h3 class="previous-month">
		Previous Month Comparison
	</h3>
	<div class="wrap cf">
		<div class="col no-pad">
			<aside class="line-graph">
				<span class="graph-title">
					95 Tweets in {{controller.report_last_month}}
				</span>
				<div class="metrics">
					<div class="text">
						<span class="text">12AM-7AM</span>
						<span class="text">7AM-12PM</span>
						<span class="text">12PM-5PM</span>
						<span class="text">5PM-12AM</span>
					</div><!-- text -->
					<div class="lines">
						<div class="line blue" style="width: 9.47%">
							<span class="number">9</span>
						</div>
						<div class="line blue" style="width: 9.47%">
							<span class="number">9</span>
						</div>
						<div class="line blue" style="width: 45.26%">
							<span class="number">43</span>
						</div>
						<div class="line blue" style="width:36.84%">
							<span class="number">35</span>
						</div>
					</div><!-- lines -->
				</div><!-- metrics -->
			</aside>
		</div><!-- col -->
		<div class="col no-pad">
			<aside class="line-graph">
				<span class="graph-title">
					17 Tweets in {{controller.report_last_month}}
				</span>
				<div class="metrics">
					<div class="text">
						<span class="text">12AM-7AM</span>
						<span class="text">7AM-12PM</span>
						<span class="text">12PM-5PM</span>
						<span class="text">5PM-12AM</span>
					</div><!-- text -->
					<div class="lines">
						<div class="line yellow" style="width: 2%">
							<span class="number">0</span>
						</div>
						<div class="line yellow" style="width: 5.88%">
							<span class="number">1</span>
						</div>
						<div class="line yellow" style="width: 64.71%">
							<span class="number">11</span>
						</div>
						<div class="line yellow" style="width: 29.41%">
							<span class="number">5</span>
						</div>
					</div><!-- lines -->
				</div><!-- metrics -->
			</aside>
		</div><!-- col -->
	</div><!-- wrap -->
</section>
<section id="page-04" class="page">
	<h2>Where viewers Came From</h2>
	<div class="wrap cf">
		<div class="col">
			{{bar-graph metrics=controller.referrals barClass="bar-wrap referrals blue" barTitleNumber="221" barTitleNumberSubHead="Referrals"}}
			<h3 class="previous-month">Previous Month Comparison</h3>
			<h5 class="previous-month-referrals">{{controller.report_last_month}} Referrals</h5>
			<aside class="numbers">
				<div class="big-number">
					<span class="number">231</span>
					<span class="number-text">Referrals</span>
				</div>
				<div class="small-numbers">
					<div class="metric">
						<span class="number">18</span>
						<span class="text">Twitter</span>
					</div>
					<div class="metric">
						<span class="number">82</span>
						<span class="text">Direct</span>
					</div>
					<div class="metric">
						<span class="number">26</span>
						<span class="text">Facebook</span>
					</div>
					<div class="metric">
						<span class="number">105</span>
						<span class="text">Other (Collectively)</span>
					</div>
				</div>
			</aside>
		</div><!-- col -->
	</div><!-- wrap -->
</section>
<section id="page-05" class="page">
	<h2>Viewers by Age</h2>
	<div class="wrap cf">
		<div class="col">
			{{bar-graph metrics=controller.age_range_1 barClass="bar-wrap 18-24-years" barTitle="18 - 24 Years of Age" barText=controller.age_range_1_text}}
		</div><!-- col -->
		<div class="col">
			{{bar-graph metrics=controller.age_range_2 barClass="bar-wrap 35-44-years" barTitle="35 - 44 Years of Age" barText=controller.age_range_2_text}}
		</div><!-- col -->
		<div class="col">
		{{bar-graph metrics=controller.age_range_3 barClass="bar-wrap 25-34-years" barTitle="25 - 34 Years of Age" barText=controller.age_range_3_text}}
		</div><!-- col -->
		<div class="col">
			{{bar-graph metrics=controller.age_range_4 barClass="bar-wrap under-45-years" barTitle="Under 45 Years of Age" barText=controller.age_range_4_text}}
		</div><!-- col -->
	</div><!-- wrap -->
</section>
<section id="page-06" class="page">
	<h2>Top 10 Traffic Sources</h2>
	<div class="wrap cf">
		<div class="col">
			<div class="traffic">
				<div class="item">
					<span class="url">csuniv.edu / referral</span>
					<span class="count">32</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">finaid.cofc.edu / referral</span>
					<span class="count">29</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">semalt.semalt.com / referral</span>
					<span class="count">25</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">dribbble.com / referral</span>
					<span class="count">18</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">charlestonsouthern.edu / referral</span>
					<span class="count">6</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">I.facebook.com / referral</span>
					<span class="count">5</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">2947981.semalt.com / referral</span>
					<span class="count">4</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">baptisthill.ccsdschools.com / referral</span>
					<span class="count">4</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">burke.ccsdschools.com / referral</span>
					<span class="count">2</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">facebook.com / referral</span>
					<span class="count">2</span>
				</div><!-- item -->
			</div><!-- traffic -->
		</div><!-- col -->
	</div><!-- wrap -->
</section>
<section id="page-07" class="page">
	<h2>This Month / Last Month</h2>
	<div class="wrap cf">
		<div class="col">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>{{controller.report_last_month}}</th>
						<th>{{controller.report_month}}</th>
						<th>Increase / Decrease</th>
					</tr>
				</thead>
				<tbody>
					<tr class="blue">
						<td>Total Sessions</td>
						<td>231</td>
						<td>221</td>
						<td class="minus">-10</td>
					</tr>
					<tr>
						<td>Mobile</td>
						<td>157</td>
						<td>145</td>
						<td class="minus">-12</td>
					</tr>
					<tr>
						<td>Desktop</td>
						<td>74</td>
						<td>176</td>
						<td class="plus">102</td>
					</tr>
					<tr class="spacer">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="blue">
						<td>Social Activity</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Twitter</td>
						<td>95</td>
						<td>99</td>
						<td class="plus">4</td>
					</tr>
					<tr>
						<td>Facebook</td>
						<td>17</td>
						<td>11</td>
						<td class="minus">-6</td>
					</tr>
					<tr class="spacer">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="blue">
						<td>Referral</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Direct</td>
						<td>82</td>
						<td>62</td>
						<td class="minus">-20</td>
					</tr>
					<tr>
						<td>Facebook</td>
						<td>26</td>
						<td>10</td>
						<td class="minus">-16</td>
					</tr>
					<tr>
						<td>Twitter</td>
						<td>18</td>
						<td>0</td>
						<td class="minus">-18</td>
					</tr>
					<tr>
						<td>Other</td>
						<td>105</td>
						<td>149</td>
						<td class="plus">54</td>
					</tr>
				</tbody>
			</table>
		</div><!-- col -->
	</div><!-- wrap -->
</section>