<section id="index" class="page">
	<h1>Welcome to RPRT</h1>
</section>
<section id="title" class="page">
	<div class="wrap">
		<div class="titles">
			<h1>Monthly Website Analytics</h1>
			<h3>October 2014</h3>
		</div>
		<img src="/assets/images/title-page-logo.png" alt="smpl" width="418">
	</div>
</section>
<section id="page-01" class="page">
	<h2>Total Sessions</h2>
	<div class="wrap cf">
		<div class="col">
			<p class="big-number">
				221
			</p>
			<p class="text">
				sessions
			</p>
			{{bar-graph metrics=controller.total_sessions}}
		</div><!-- col -->
		<div class="col">
			<h3 class="previous-month">Previous Month Comparison</h3>
			<strong class="previous-month-sessions">231 Sessions in September</strong>
			<aside class="graph">
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 26%;">
							<span class="text">September</span>
							<span class="number">26%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 22%;">
							<span class="text">October</span>
							<span class="number">22%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 74%;">
							<span class="text">September</span>
							<span class="number">74%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 78%;">
							<span class="text">October</span>
							<span class="number">78%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
			</aside>
		</div><!-- col -->
	</div>
</section>
<section id="page-02" class="page">
	<h2>Sessions by Device</h2>
	<div class="wrap cf">
		<div class="col">
			{{bar-graph metrics=controller.mobile_sessions barClass="bar-wrap mobile-sessions" barTitle="Mobile Sessions" barText=controller.mobile_sessions_bar_text}}
			{{bar-graph metrics=controller.desktop_sessions barClass="bar-wrap desktop-sessions" barTitle="Desktop Sessions" barText=controller.desktop_sessions_bar_text}}
		</div><!-- col -->
		<div class="col">
			<h3 class="previous-month">Previous Month Comparison</h3>
			<aside class="graph">
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 17%;">
							<span class="text">September</span>
							<span class="number">74</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 10%;">
							<span class="text">October</span>
							<span class="number">45</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 36%;">
							<span class="text">September</span>
							<span class="number">157</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 40%;">
							<span class="text">October</span>
							<span class="number">176</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
			</aside>
		</div><!-- col -->
	</div>
</section>
<section id="page-03" class="page">
	<h2>Social Network Activity</h2>
	<div class="wrap cf">
		<div class="col">
			{{bar-graph metrics=controller.twitter barClass="bar-wrap social-activity-twitter blue" barTitle="Twitter" barTitleNumber="99" barTitleNumberSubHead="Tweets"}}
		</div><!-- col -->
		<div class="col">
			{{bar-graph metrics=controller.facebook barClass="bar-wrap social-activity-facebook yellow" barTitle="Facebook" barTitleNumber="11" barTitleNumberSubHead="Posts"}}
		</div><!-- col -->
	</div><!-- wrap -->
	<h3 class="previous-month">
		Previous Month Comparison
	</h3>
	<div class="wrap cf">
		<div class="col no-pad">
			<aside class="line-graph">
				<span class="graph-title">
					95 Tweets in September
				</span>
				<div class="metrics">
					<div class="text">
						<span class="text">12AM-7AM</span>
						<span class="text">7AM-12PM</span>
						<span class="text">12PM-5PM</span>
						<span class="text">5PM-12AM</span>
					</div><!-- text -->
					<div class="lines">
						<div class="line blue" style="width: 1.8%">
							<span class="number">9</span>
						</div>
						<div class="line blue" style="width: 1.8%">
							<span class="number">9</span>
						</div>
						<div class="line blue" style="width: 8.6%">
							<span class="number">43</span>
						</div>
						<div class="line blue" style="width: 7%">
							<span class="number">35</span>
						</div>
					</div><!-- lines -->
				</div><!-- metrics -->
			</aside>
		</div><!-- col -->
		<div class="col no-pad">
			<aside class="line-graph">
				<span class="graph-title">
					17 Tweets in September
				</span>
				<div class="metrics">
					<div class="text">
						<span class="text">12AM-7AM</span>
						<span class="text">7AM-12PM</span>
						<span class="text">12PM-5PM</span>
						<span class="text">5PM-12AM</span>
					</div><!-- text -->
					<div class="lines">
						<div class="line yellow" style="width: 1.8%">
							<span class="number">0</span>
						</div>
						<div class="line yellow" style="width: 1.8%">
							<span class="number">1</span>
						</div>
						<div class="line yellow" style="width: 8.6%">
							<span class="number">11</span>
						</div>
						<div class="line yellow" style="width: 7%">
							<span class="number">5</span>
						</div>
					</div><!-- lines -->
				</div><!-- metrics -->
			</aside>
		</div><!-- col -->
	</div><!-- wrap -->
</section>
<section id="page-04" class="page">
	<h2>Where viewers Came From</h2>
	<div class="wrap cf">
		<div class="col">
			{{bar-graph metrics=controller.referrals barClass="bar-wrap referrals blue" barTitleNumber="221" barTitleNumberSubHead="Referrals"}}
			<h3 class="previous-month">Previous Month Comparison</h3>
			<h5 class="previous-month-referrals">September Referrals</h5>
			<aside class="numbers">
				<div class="big-number">
					<span class="number">231</span>
					<span class="number-text">Referrals</span>
				</div>
				<div class="small-numbers">
					<div class="metric">
						<span class="number">18</span>
						<span class="text">Twitter</span>
					</div>
					<div class="metric">
						<span class="number">82</span>
						<span class="text">Direct</span>
					</div>
					<div class="metric">
						<span class="number">26</span>
						<span class="text">Facebook</span>
					</div>
					<div class="metric">
						<span class="number">105</span>
						<span class="text">Other (Collectively)</span>
					</div>
				</div>
			</aside>
		</div><!-- col -->
	</div><!-- wrap -->
</section>
{{render "page-05"}}
{{render "page-06"}}
{{render "page-07"}}