<section id="index" class="page">
	<h1>Welcome to RPRT</h1>
</section>
<section id="title" class="page">
	<div class="wrap">
		<div class="titles">
			<h1>Monthly Website Analytics</h1>
			<h3>October 2014</h3>
		</div>
		<img src="/assets/images/title-page-logo.png" alt="smpl" width="418">
	</div>
</section>
<section id="page-01" class="page">
	<h2>Total Sessions</h2>
	<div class="wrap cf">
		<div class="col">
			<p class="big-number">
				221
			</p>
			<p class="text">
				sessions
			</p>
			{{bar-graph metrics=controller.total_sessions}}
		</div><!-- col -->
		<div class="col">
			<h3 class="previous-month">Previous Month Comparison</h3>
			<strong class="previous-month-sessions">231 Sessions in September</strong>
			<aside class="graph">
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 26%;">
							<span class="text">September</span>
							<span class="number">26%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 22%;">
							<span class="text">October</span>
							<span class="number">22%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 74%;">
							<span class="text">September</span>
							<span class="number">74%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 78%;">
							<span class="text">October</span>
							<span class="number">78%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
			</aside>
		</div><!-- col -->
	</div>
</section>
<section id="page-02" class="page">
	<h2>Sessions by Device</h2>
	<div class="wrap cf">
		<div class="col">
			{{bar-graph metrics=controller.mobile_sessions barClass="bar-wrap mobile-sessions" barTitle="Mobile Sessions" barText=controller.mobile_sessions_bar_text}}
			{{bar-graph metrics=controller.desktop_sessions barClass="bar-wrap desktop-sessions" barTitle="Desktop Sessions" barText=controller.desktop_sessions_bar_text}}
		</div><!-- col -->
		<div class="col">
			<h3 class="previous-month">Previous Month Comparison</h3>
			<aside class="graph">
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 17%;">
							<span class="text">September</span>
							<span class="number">74</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 10%;">
							<span class="text">October</span>
							<span class="number">45</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 36%;">
							<span class="text">September</span>
							<span class="number">157</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 40%;">
							<span class="text">October</span>
							<span class="number">176</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
			</aside>
		</div><!-- col -->
	</div>
</section>
{{render "page-03"}}
{{render "page-04"}}
{{render "page-05"}}
{{render "page-06"}}
{{render "page-07"}}